@page "/"

<PageTitle>Index</PageTitle>

<ul>
    @foreach (Person p in PeopleList)
    {
        <li>@p.FirstName @p.LastName</li>
    }
</ul>
@code
{
    List<Person> PeopleList;
    protected override async Task OnInitializedAsync()
    {
        PeopleList = await _mediator.Send(new GetPersonListQuery());
    }
}
